<div class="qualifications" id="qualifications">
  <p class="title">Qualifications</p>
  <p class="sub-title">My Personal Journey</p>
  <div>
    <section>
      <h4>BTech CSE (Computer Science Engineering)</h4>
      <p class="my-0" style="color: #F72585;">(Not Completed)</p>
      <p class="my-0">Bennett University</p>
      <p class="year">Year - 2022-(Pursuing)</p>
    </section>

    <section>
      <h4>12th</h4>
      <p class="my-0">Guru Nanak Public School, Sector 36-D, Chandigarh</p>
      <p class="year">Year - 2019-2022</p>
    </section>

    <section>
      <h4>10<sup>th</sup></h4>
      <p class="my-0">The Gurukul, Sector 20, Panchkula</p>
      <p class="year">Year - 2017-2019</p>
    </section>

    <!-- <section>
      <h4>10<sup>th</sup></h4>
      <p class="my-0">Range Hills Public School</p>
      <p class="year">Year - 2015-2017</p>
    </section> -->
  </div>
</div>
